__pycache__/
.vscode
.web
*.py[cod]
**/.DS_Store
**/.web
**/*.db
**/*.ipynb
**/*.pyc
**/*.swp
**/node_modules/**
**/package-lock.json
**/package.json
backend.zip
bun.lockb
dist/*
frontend.zip
poetry.lock
reflex.db
venv/
